<h2>Spieler</h2>
<div *ngFor="let player of players"
    class="player-list__player" 
    [class.is-selected]="player === selectedPlayer"
    (click)="onSelect(player)">
    <div> 
        <span class="player__nickname">{{player.Nickname}}</span> {{player.FirstName}} {{player.LastName}}
    </div>
    <button
        *ngIf="player === selectedPlayer"
        class="player__edit" 
        (click)="editPlayer(player)">"{{player.Nickname}}" Bearbeiten</button>
</div>
<kickit-player-info 
    class="player-list__details"
    *ngIf="!edit" 
    [player]="selectedPlayer">
</kickit-player-info>
<kickit-player-edit 
    class="player-list__details"
    *ngIf="!!edit"
    [player]="selectedPlayer">
</kickit-player-edit>
