:host {
    background: black;
    border-radius: 8px;
    display: block;
    padding: 8px;
}

.player-list{
    display: flex;
    flex-direction: row;
}

.player-list__player{
    padding: 4px;
    background-color: slateblue;
    margin: 2px;
    border-radius: 4px;
    user-select: none;
}

.player-list__player:hover:not(.is-selected){
    background-color:lightskyblue;
    cursor: pointer;
}

.is-selected {
    background-color:darkblue;
}

.player-list__details{
    background-color:darkblue;
}