:host {
    background: black;
    border-radius: 8px;
    display: block;
    padding: 8px;
}

.player-list{
    color: Orange;
}

.player-list__player{
    border-style: solid;
    padding: 4px;
    border-color: orange;
    color: white;
    margin: 2px;
    border-radius: 4px;
}

.player__nickname{
    font-weight: bold;
    color:orange;
}
