.player-info {
    padding: 8px;
    background-color: darkblue;
    border-radius: 8px;
}

.player-info__id{
    font-style: italic;
    color: lightgray;
}

.player-info__property{
    font-weight: bold;
}